[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = RTSP/RTP/RTMP/FLV/HLS/MPEG-TS/MPEG-PS/MPEG-DASH/MP4/fMP4
[access "refs/*"]
	owner = group user/Sassy Natan (sassyn)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sassy Natan (sassyn)
	label-Verified = -1..+1 group user/Sassy Natan (sassyn)
	push = group user/Sassy Natan (sassyn)
	read = group user/Sassy Natan (sassyn)
	rebase = group user/Sassy Natan (sassyn)
	removeReviewer = group user/Sassy Natan (sassyn)
	submit = group user/Sassy Natan (sassyn)
[access "refs/heads/*"]
	create = group user/Sassy Natan (sassyn)
	push = +force group user/Sassy Natan (sassyn)
	pushMerge = group user/Sassy Natan (sassyn)
	read = group user/Sassy Natan (sassyn)
[access "refs/tags/*"]
	push = group user/Sassy Natan (sassyn)
	push = +force group user/Sassy Natan (sassyn)
